name: Lint Code Style

on:
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read

jobs:
  pint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        ref: ${{ github.head_ref }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: ctype, mbstring, openssl, pdo, tokenizer, xml, pdo_sqlite
        tools: composer

    - name: Install dependencies
      run: composer install --no-interaction --prefer-dist

    - name: Run Laravel Pint
      run: vendor/bin/pint --test